.bunner {
    display: block;
    width: 100%;
    height: auto;
    background-image: url('../../assets/mobile_bunner-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bunner {
        background-image: url('../../assets/mobile_bunner@2x-min.png');
    }
}

.container {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.bunnerWrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 74px 0;
}

.title,
.subtitle {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.title {
    padding: 0 24px;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.subtitle {
    padding: 0 18px ;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 210px;
    background-color: #ef5b4c;
    /*padding: 16px 0;*/
    padding: 0;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    color: #fefefe;
}

.btn:hover {
    background-color: #d24335;
}

.btnLink {
    composes: btn;
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .bunner {
        background-image: url('../../assets/table_bunner-min.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .bunner {
            background-image: url('../../assets/table_bunner@2x-min.png');
        }
    }

    .container {
        width: 708px;
        margin: 0 auto;
    }

    .bunnerWrapper {
        padding: 64px 0;
        margin: 0 auto;
        width: 100%;
    }

    .description {
        display: block;
        width: 462px;
    }

    .title,
    .subtitle {
        text-align: left;
        padding: 0;
        margin-bottom: 36px;
    }

    .title {
        font-size: 40px;
        line-height: 44px;
    }

    .btn {
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .bunner {
        background-image: url('../../assets/desktop_bunner-min.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .bunner {
            background-image: url('../../assets/desktop_bunner@2x-min.png');
        }
    }
    .container {
        min-width: 964px;
        max-width: 1024px;
        padding: 112px 0 ;
    }

    .description {
        width: 550px;
    }

    .title {
        font-size: 50px;
        line-height: 54px;
        margin-bottom: 34px;
    }

    .subtitle {
        margin-bottom: 40px;
    }
}

