.container {
    width: 80%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: #fff;
}

.navigation {
    width: 100%;
    display: block;
    justify-content: space-between;
}

.logoWrap {
    padding: 0 15px;
    display: flex;
    height: 40px;
    border: 1px solid #e1e1e1;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 136px;
    height: 20px;
    background-image: url('../../assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.menuSection {
    padding: 15px 0;
    border: 1px solid #e1e1e1;
    border-top: none;
}

.menuList {
    padding: 0;
    padding-left: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menuLink {
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 0;
}

.menuLink:hover {
    color: #1b4a8a;
}

.activeLink {
    color: #1b4a8a;
    font-weight: 500;
}

@media screen and (min-width: 768px ) {
    .container {
        top: 20px;
        width: 100%;
        height: auto;
        background-color: transparent;
        overflow-y: auto;
    }

    .navigation {
        margin: 0 auto;
        width: 708px;
        background-color: #fff;
    }

    .menuSectionWrapper {
        display: flex;
        justify-content: space-between;
        border: 1px solid #e1e1e1;
    }

    .menuSection {
        width: 30%;
        border: none;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        display: none;
    }
}


